.divForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:25px;
}

.nameDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;

    & input {
        width: 150px;
        height: 20px;
        margin-bottom: 5px;
    }
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;

    & .saveButton, .closeButton{
    border-radius: 3px;
    border: #6458F5 1px solid;
    background-color: white;
    box-shadow: none;
    color:#6458F5;
    font-weight: bold;
    text-align: center;
    width:100px;
    appearance: none;
}
}